/* Attribute Selector */
input[type=text] {
    border: 2px solid red;
}

input[type=email] {
    border: 2px solid rgb(15, 24, 198);
}

.border-round {
    border-radius: 0.5em;
}

.adjust-input-text {
    width: 18em;
}

/* .paragraf {
    background-color: blue;
} */



